h1 {
  font-size: 5rem;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
#rectangle1 {
  width: 35%;
  height: 730px;
  background-color: rgba(21, 112, 223, 0.548);
  position: absolute;
  left: 1150px;
  top: 160px;
  border-radius: 30px;
}
#rectangle2 {
  width: 8%;
  height: 1700px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(121, 41, 41, 0.884);
  z-index: -1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#photoIndex {
  width: 1000px;
  height: 600px;
  margin-left: 220px;
  margin-top: 130px;
}
#indexImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
}
.block p {
  position: absolute;
  width: 600px;
  left: 1200px;
  top: 200px;
  font-size: 1.7rem;
  font-style: italic;
}
#mainButton {
  position: absolute;
  left: 1335px;
  top: 825px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: ease-in-out 0.07s;
}
body {
  font-family: "Montserrat", sans-serif;
}
